<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Actualizar contraseñas</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a>Actualizar contraseñas</a></li>
                        <li class="breadcrumb-item active">Actualizar contraseñas</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Contraseña actualizada</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    1. Selecione correo
                                    <select name="correo" id="correo" class="custom-select">
  <option  value="{{correosNombres.correo}}" *ngFor="let correosNombres of usuarios">
    {{correosNombres.correo}}
  </option>
</select>
                                    <!--<input type="email" class="form-control" id="correo">-->

                                </div>
                                <div class="col-md-6">
                                    2. Generar contraseña
                                    <br>
                                    <button (click)="ramdomPassword()" class="btn btn-warning">Generar contraseña</button> &nbsp;
                                    <button (click)="GetDataFromView()" class="btn btn-primary">Guardar</button>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <br>
                                    <label id="password" for="">Contraseña: </label>
                                    <input type="text" class="form-control" id="passwordG" disabled>
                                </div>


                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->