
@media only screen and (max-width: 1200px) {
    img:hover{
        transform: scale(3.5);
    }
  }
.imgExp:hover{
    transform: scale(2.2);
}

@media screen and (max-width: 600px){
    .imgExp:hover{
        transform: scale(3.6);
    }
}