.collapse {
    height: auto;
    width: auto;
  }
  
  .collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
  }
  
  .collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
  }
  
  .collapse.in.width {
    width: auto;
  }
  
  .collapse.in.height {
    height: auto;
  }

  ::-webkit-scrollbar {
    display: none;
}

.active:active{
  background-color: #bd1111;
  color: aqua;
  cursor: pointer;
}